.myprofile{
    margin: auto;
    margin-top: 7em;
    /* mar */
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    
}

.dropdownbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2% ;
}

