.banner_title{
  width: 30%;
  margin:0 10%;
  padding-bottom: 5em;
  padding-top: 10em;

}


.search_box {
  display: flex;
  border-radius: 0.4rem;
  padding: 1.8em 2.5em;
  width: 80%;
  margin: auto;
  /* padding-top: 20em; */
}

.search_page{
  /* margin-top: 20em; */
  /* padding-top: 25em; */

}
.active-link{
  color: blue;

}
.home_banner{
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  z-index: -1;
}
.search_boxInput {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 2em 1em;
  width: 100%;
}

.search_boxInput select {
  width: 93%;
  margin-left:0.9em;
}
.search_container {
  background-color: transparent;
}

.popular_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
.cat_box {
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12em;
  text-align: center;
  text-wrap: wrap;
  padding:0 3em;
  border: 1px solid #e6e6e6;
}

.cat_box:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* recent jobs */

.recentjobs_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.job_box {
  border: 1px solid #e6e6e6;
  border-radius: 0.5em;
  padding: 1em;
}

.job_box_firstsec {
  display: flex;
  justify-content: space-between;
}

.job_box_firstsec > div {
  display: flex;
  width: 45%;
}
.bookmark_icon {
  background-color: transparent;
}

.bookmark_icon > svg {
  height: 1.5em;
  width: 1.5em;
}

.job_box_secondsec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 2em auto;
}

.job_box_secondsec > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job_box_secondsec > div svg {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0.812);
}

.job_box_thirdsec {
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
}
